<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>dangdang</title>
    <link rel="stylesheet" type="text/css" href="/dangdang/Public/Bootstrap/bootstrap-3.3.7-dist/css/bootstrap.css"/>
    <script type="text/javascript" language="JavaScript" src="/dangdang/Public/JavaScript/jquery.min.js"></script>
    <script type="text/javascript" language="JavaScript" src="/dangdang/Public/Bootstrap/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/dangdang/Public/Css/index.css"/>
    <script>
    </script>
</head>
<body>
<div class="container-fluid">
   <div class="header" id="header">
       <div class="header_top"></div>
       <div class="row">
           <div class="col-md-4">
               <div class="logo border">
                   <img class="img-responsive" src="/dangdang/Public/Images/img/Penguins.jpg" alt="logo"/>
               </div>
           </div>
           <div class="col-md-5">
                   <form action="#" method="post">
                       <div class="form-group col-xs-12 col-lg-8">
                          <div>
                              <label for="input_text"></label>
                              <input type="text" id="input_text" class="absolute form-control header_input pull-left" placeholder="请输入关键字查询">
                              <div class="btn relative pull-right header_input_span">
                                  <span class="glyphicon glyphicon-search text-muted"></span>
                              </div>
                          </div>
                       </div>
                   </form>
           </div>
           <div class="col-md-3">
               <div style="background: red" class="pull-left">
                   <div class="col-md-2"></div>
                   <div class="col-md-8">
                       <div style="background: red;width:100%;height:50px;"></div>
                   </div>
                   <div class="col-md-2"></div>
               </div>
           </div>
       </div>
   </div>
</div>
</body>
</html>