<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<include file="Public/head"/>
</head>
<body>
<div class="main-wrap">
	<include file="Public/left"/>
	<div class="content-wrap">
		<include file="Public/header"/>
		<main class="main-cont content mCustomScrollbar">
			<!--开始::内容-->
			<div class="page-wrap">
				<section class="page-hd">
					<header>
						<h2 class="title"><i class="icon-home"></i>hello：<{$name}></h2>
					</header>
					<hr>
				</section>
			</div>

			<!--开始::结束-->
		</main>
		<include file="Public/bottom"/>
	</div>
</div>
</body>
</html>
